*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5px;
    width: 80%;
}

label {
    display: block;
    margin-bottom: 5px;
}

small{
    font-size: 12px;
    color: #f84c2d;
    padding-left: 5px;
    opacity: 0;
}

#registration-form{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration-form .form_inputs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input:focus{
    border: 1px solid #8d8c8c;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.users_section{
    width: 100%;
    padding: 10px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#registered-users {
    width: 98%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

p{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding-left: 5px;
}

table {
    width: 100%; /* Adjust as needed */
    margin: 10px 0;
  }
  
  tr {
    border: 1px solid #ddd;
    padding: 5px; /* Adjust as needed */
  }
  tbody{
    column-gap: 5px;
  }
  thead {
    background-color: #130101;
    text-align: left;
    color: #FDFDFD;
  }

  th, td {
    padding: 4px;
    text-align: left;
  }
  
  th {
    padding: 2px; /* Adjust as needed */
    font-weight: bold; /* Make header text slightly bolder */
  }
  
  tbody td:first-child {
    border-left: none;
  }
  thead th:nth-child(2),
  tbody td:nth-child(2) {
    width: 25%;
  }
  thead th:nth-child(6),
  tbody td:nth-child(6) {
    width: 2%;
  }
  thead tr{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 400;
  }
  tbody tr{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 400;
  }
  tbody tr:nth-child(even) {
    background-color: #edf3fd; /* Very light gray background */
  }


  @media screen and (min-width: 768px){
    .container #registration-form{
      width: 100%;
      padding: 10px;
  }
  
  .container .form_inputs{
      width: 90%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  .container input{
      width: 100%;
      padding: 10px;
  }
  .container .form-group{
    margin-bottom: 15px;
    width: 90%;
  }
  .container table {
    margin: 20px auto;
  }
  .container tr {
    padding: 10px; /* Adjust as needed */
  }
  .container table tbody{
    column-gap: 10px;
  }
  .container table thead {
    background-color: #130101;
    text-align: left;
    color: #FDFDFD;
  }

  .container table th, td {
    padding: 10px;
  }
  
  .container table th {
    padding: 5px; /* Adjust as needed */
    font-weight: bold; /* Make header text slightly bolder */
  }
  .container  tbody tr{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
  }
  .container   thead tr{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
  }
  }
